'.source.ruby.rspec':
  'before (multi-line)':
    'prefix': 'bef'
    'body': 'before do\n  $1\nend$0'
  'before (one-line)':
    'prefix': 'beff'
    'body': 'before { $1 }$0'
  'it (one-line)':
    'prefix': 'itt'
    'body': 'it { $1 }$0'
  'after (one-line)':
    'prefix': 'aftt'
    'body': 'after { $1 }$0'
  'let factory':
    'prefix': 'letf'
    'body': 'let(:${2:${1:model}}$3) { create(:${1:model}$4) }$0'
  'let factory build':
    'prefix': 'letfb'
    'body': 'let(:${2:${1:model}}$3) { build(:${1:model}$4) }$0'
  'let factory !':
    'prefix': 'letf!'
    'body': 'let!(:${2:${1:model}}$3) { create(:${1:model}$4) }$0'
  'factory create':
    'prefix': 'fgc'
    'body': 'create(:${1:model})$0'
  'factory build':
    'prefix': 'fgb'
    'body': 'build(:${1:model})$0'
  'subject':
    'prefix': 'sub'
    'body': 'subject { ${1:test_subject} }$0'
  'describe (String)':
    'prefix': 'des'
    'body': "describe \"${1:subject}\" do\n  $0\nend$0"
  'context':
    'prefix': 'con'
    'body': "context \"${1:context}\" do\n  $0\nend$0"
  'it (does something)':
    'prefix': 'it'
    'body': "it \"${1:does something}\"${2: do\n  $0\nend}$0"
  'expect':
    'prefix': 'exp'
    'body': 'expect(${1:subject}).to${2:_not} ${3:${4:eq} ${5:object}}$0'
  'expect with block':
    'prefix': 'expb'
    'body': '''
      expect do
        ${1:target}
      end.to${2:_not} ${3:raise_error}$0
    '''
  'expect with block to change':
    'prefix': 'expbc'
    'body': '''
      expect do
        ${1:target}
      end.to${2:_not} change(${3:object}, ${4:method})${5:.by(${6})}$0
    '''
  'expect response to redirect':
    'prefix': 'exprr'
    'body': 'expect(response).to redirect_to ${2:${1:root}_path}$0'
  'expect response to render template':
    'prefix': 'exprt'
    'body': 'expect(response).to render_template :${1:index}$0'
  'allow to receive':
    'prefix': 'atr'
    'body': '''
      allow(${1:object}).to receive(:${2:method})${4:.and_return(${3:value})}$0
    '''

'.source.ruby, .source.ruby.rspec':
  'to_yaml':
    'prefix': 'ty'
    'body': 'to_yaml'
  'to_json':
    'prefix': 'tj'
    'body': 'to_json'
  'to_s':
    'prefix': 'ts'
    'body': 'to_s'
  'to_i':
    'prefix': 'ti'
    'body': 'to_i'
  'to_datetime':
    'prefix': 'tdt'
    'body': 'to_datetime'
  'to_date':
    'prefix': 'td'
    'body': 'to_date'
  'to_time':
    'prefix': 'tt'
    'body': 'to_time'

'.source.ruby':
  'flash':
    'prefix': 'flash'
    'body': 'flash[:${1:notice}] = "${2:message}"'
  'flash notice':
    'prefix': 'fln'
    'body': 'flash[:notice] = "${2:message}"'
  'flash alert':
    'prefix': 'fla'
    'body': 'flash[:alert] = "${2:message}"'
  'flash success':
    'prefix': 'fls'
    'body': 'flash[:success] = "${2:message}"'
  'flash info':
    'prefix': 'fli'
    'body': 'flash[:info] = "${2:message}"'
  'flash warning':
    'prefix': 'flw'
    'body': 'flash[:warning] = "${2:message}"'
  'params':
    'prefix': 'par'
    'body': 'params[:${1:attr}]$0'

'.text.html.ruby, .text.html.erb':
  "if block":
    prefix: "if"
    body: """
      <% if ${1:condition} %>
        ${2:true-block}
      <% end %>$0
    """
  "if/else block":
    prefix: "ife"
    body: """
      <% if ${1:condition} %>
        ${2:true-block}
      <% else %>
        ${3:false-block}
      <% end %>$0
    """
  "else tag":
    prefix: "else"
    body: "<% else %>$0"
  "elsif tag":
    prefix: "elsif"
    body: "<% elsif ${1:condition} %>$0"
  "unless block":
    prefix: "unless"
    body: """
      <% unless ${1:condition} %>
        ${2:false-block}
      <% end %>$0
    """
  "end tag":
    prefix: "end"
    body: "<% end %>$0"
  'erb tags':
    'prefix': '<'
    'body': '<%${1:=} $2 %>$0'
  'erb tags (invisible)':
    'prefix': '%'
    'body': '<% $1 %>$0'
  'erb tags (visible)':
    'prefix': '='
    'body': '<%= $1 %>$0'
  'debug':
    'prefix': 'debug'
    'body': '<%= debug $1 %>$0'
  'render':
    'prefix': 'render'
    'body': '<%= render ${2:\'${1:partial}\'} %>$0'

'.text.html.php':
  'php visible tag':
    'prefix': '='
    'body': '<?= $1 ?>$0'
  'php hidden tag':
    'prefix': '?'
    'body': '<? $1 ?>$0'
  'site variable':
    'prefix': 'site'
    'body': "<?= $site->content('${1:variable}') ?>$0"
  'page variable':
    'prefix': 'page'
    'body': "<?= $page->content('${1:variable}') ?>$0"
  'helper method':
    'prefix': 'h'
    'body': "<?= $h->${1:function}(${2:$${3:variable}}$4) ?>$0"
  'TODO comment':
    'prefix': 'todo'
    'body': '<?php // TODO: $1 ?>$0'
  'FIXME comment':
    'prefix': 'fix'
    'body': '<?php // FIXME: $1 ?>$0'

'.source.php':
  'TODO comment':
    'prefix': 'todo'
    'body': '// TODO: $1'
  'FIXME comment':
    'prefix': 'fix'
    'body': '// FIXME: $1'

'.source.scss':
  '@media':
    prefix: 'med'
    body: '@media $1 {\n  $2\n}$0'
  '@media #{$size}':
    prefix: 'med$'
    body: '@media #{$${1:size}} {\n  $2\n}$0'
  '@media #{$small-only}':
    prefix: 'medso'
    body: '@media #{$small-only} {\n  $1\n}$0'
  '@media #{$medium-only}':
    prefix: 'medmo'
    body: '@media #{$medium-only} {\n  $1\n}$0'
  '@media #{$large-only}':
    prefix: 'medlo'
    body: '@media #{$large-only} {\n  $1\n}$0'
  '@media #{$medium-up}':
    prefix: 'medmu'
    body: '@media #{$medium-up} {\n  $1\n}$0'
  '@media #{$large-up}':
    prefix: 'medlu'
    body: '@media #{$large-up} {\n  $1\n}$0'
  'box':
    'prefix': 'box'
    'body': """
      position: absolute;
      top: ${1:0};
      right: ${2:0};
      bottom: ${3:0};
      left: ${4:0};$0
    """
  'display: flex':
    'prefix': 'disf'
    'body': 'display: flex;'
  'content':
    'prefix': 'con'
    'body': "content: ${1:'$2'};$0"
  'left (alt)':
    'prefix': 'lef'
    'body': 'left: ${1:0};$0'
