// @import "syntax-variables";
@import "ui-variables";

// .platform-darwin {
//   .overlay {
//     &.from-top {
//       margin-left: -440px;
//     }
//   }
// }

// https://medium.com/@tgaeta/atom-font-rendering-fix-and-theme-suggestion-9a57b7bbf6a5
// atom-text-editor {
//   -webkit-font-smoothing: auto;
// }
//
// .tree-view {
//   -webkit-font-smoothing: auto;
// }

status-bar {
  text-transform: lowercase;
}

// atom-workspace {
//   .tree-view-resizer {
//     padding-left: 0;
//   }
// }

// rounds out pigments' square dot
atom-text-editor pigments-markers pigments-color-marker.syntax--dot.syntax--square,
pigments-markers pigments-color-marker.syntax--dot.syntax--square,
pigments-color-marker.syntax--dot.syntax--square {
  border-radius: .2em;
  width: .8em;
  height: .8em;
  // margin-left: 13px;
}


// hides linters' checkmark, encoding selector
// atom-panel.bottom {
//   encoding-selector-status,
//   [is=status-bar-launch-mode] {
//     display: none;
//   }
// }

// Makes the cursor pulse instead of blink
atom-text-editor {
  .cursor {
    transition: opacity 1.6s;
  }
}

// atom-text-editor {
//   .gutter-shadow.active {
//     box-shadow: inset 0 0 7px 4px rgba(255, 255, 255, .10);;

// Adds shadow to the right of Gutter
// .tab-bar, atom-panel-container.bottom{
//   z-index: 2;
// }
// atom-text-editor{
//   .gutter{
//     z-index: 1;
//     box-shadow: 0.5rem 0 2rem hsl(0, 0%, 5%);
//   }
//   .scroll-view{
//     padding-left: 0.5rem;
//   }
// }

// atom-text-editor .absolute {
//   display: inline;
//   opacity: 0.5;
//   padding-right: 1em;
// }

// atom-text-editor .gutter .line-number.cursor-line,
// :host .gutter .line-number.cursor-line {
//   background-color: transparent !important;
// }
//
// :host(.is-focused) .line-number.cursor-line-no-selection {
//   background-color: transparent !important;
// }


// fixes current line highlight
// by moving linter gutter on top of number gutter
// atom-text-editor .gutter-container {
//   position: relative;
// }

// atom-text-editor {
//   .gutter[gutter-name="linter"],
//   .gutter[gutter-name="linter-ui-default"] {
//     // position: relative;
//     // z-index: 100;
//     // position: absolute;
//     // right: 0;
//     // bottom: 0;
//     // top: 0;
//     // background-color: transparent;
//     //
//     // .custom-decorations {
//     //   background-color: transparent !important;
//     // }
//   }
// }

// .term3 .terminal {
//   background: transparent !important;
//   padding: 0 1rem;
//
//   .terminal-cursor {
//     background: transparent;
//     border-bottom: 1px solid #aaa;
//   }
// }

// relative line numbers - current line
atom-text-editor .relative.current-line {
  color: #797979;
}

// .input-checkbox {
//   background-color: @steel;
//
//   &:checked {
//     background-color: @text-color-success;
//   }
// }

// @background-color-info: @text-color-success;
