.platform-darwin {
  .overlay {
    &.from-top {
      margin-left: -440px;
    }
  }
}

atom-workspace {
  .tree-view-resizer {
    padding-left: 0;
  }
}

atom-text-editor::shadow pigments-markers::shadow pigments-color-marker.dot.square,
pigments-markers::shadow pigments-color-marker.dot.square,
pigments-color-marker.dot.square {
  border-radius: 4px;
  width: .8em;
  height: .8em;
  vertical-align: middle;
  margin-top: .3em;
}

// atom-text-editor::shadow {
//   .gutter-shadow.active {
//     box-shadow: inset 0 0 7px 4px rgba(255, 255, 255, .10);;

// Adds shadow to the right of Gutter
// .tab-bar, atom-panel-container.bottom{
//   z-index: 2;
// }
// atom-text-editor::shadow{
//   .gutter{
//     z-index: 1;
//     box-shadow: 0.5rem 0 2rem hsl(0, 0%, 5%);
//   }
//   .scroll-view{
//     padding-left: 0.5rem;
//   }
// }
